@import "tailwindcss";

body{
  min-height: 100vh;
  font-family: Inter, sans-serif;
  color: #e2e8f0;

  background:
    radial-gradient(circle at top left,
      rgba(16,185,129,0.25),
      transparent 35%),
    radial-gradient(circle at bottom right,
      rgba(20,184,166,0.20),
      transparent 40%),
    linear-gradient(
      135deg,
      #022c22 0%,
      #052e2b 35%,
      #0f172a 70%,
      #020617 100%
    );

  background-attachment: fixed;
}