@import "tailwindcss";

body{
  min-height: 100vh;
  font-family: Inter, sans-serif;
  color: #f8fafc;

  background:
    radial-gradient(circle at top left,
      rgba(251,191,36,0.15),
      transparent 30%),
    radial-gradient(circle at bottom right,
      rgba(245,158,11,0.12),
      transparent 40%),
    linear-gradient(
      135deg,
      #000000 0%,
      #111111 40%,
      #1a1a1a 70%,
      #000000 100%
    );

  background-attachment: fixed;
}